.AEcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


.AEheading{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom:0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
    color:#000;
}

.AEcontainer-1{
    display: flex;
    justify-content:center;
    margin-top:0;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid;
    width:100vw;
    height:90vh;
    background-color:blanchedalmond;
    border-radius: 1%;
    
}

.AEcontainer-2 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.AEcontainer-2::-webkit-scrollbar{
    display: none;
}

.AEheading:hover{
    color:tomato;
    transition: 0.5s;
    cursor: pointer;

}

.APtext_container{
    text-align: center;
    margin-top: 2%;
    border: 1px solid blAEk;
    width:150px;    
    height: 150px;
    border-radius: 50%;
    background-color: lightgray;
    margin-bottom: 3%;
    position: absolute;
}

.APtext{
    text-align: center;
    font-size: 20px;
    margin-top: 35%;
    margin-bottom: 0;
}

.plus_text{
    font-size: 40px;
    margin-top: 0;
}



.AEcontent{
    width: 100%;
    height:fit-content;
    overflow: scroll;
    margin-top: 15%;
}

.AEcontent::-webkit-scrollbar{
    display: none;
}

.AEcontent table{
    margin-bottom: 4%;
    border: 1px solid;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-collapse: collapse;
    margin-right: 5%;
}

.AEcontent tr,td{
    border: 1px solid;
}

.AEcontent table input{
    border: none;
    background-color: transparent;
    height: fit-content;
    width: 95%;
    font-size: 20px;
}

.AEcontent table input:focus{
    outline: none;
    border:none;
    box-shadow: none;
}

.AEfirst{
    font-size: 20px;
    text-align: center;
    width:30%;
    padding: 2%;
}

.AEsecond{
    font-size: 20px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: spAEe-evenly;
}

.btn-1{
    margin-bottom: 5%;  
    width:130px;
    height:50px;
    background-color: lightgreen;
    font-size: 15px;
}

.btn-2{
    margin-bottom: 5%;
    width:130px;
    height:50px;
    background-color: lightgray;
    font-size: 15px;
}