.Empadding{
    width:100vw;
    height:100%;
}

.Emcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}


h1{
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom:0;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0;
    color:#fff;
}

.Emcontainer-1{
    display: flex;
    justify-content:center;
    margin-top:0;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
    width:100vw;
    height:80%;
    background-color:blanchedalmond;
    border-radius: 5%;
    
}

.Emimage{
    width:30%;
    height:55%;
    margin-right: 5%;
    margin-top: 10%;
    cursor: pointer;

}

.Emcontainer-1 form{
    margin-top: 10%;
    margin-right:0 ;

}

.Emcontainer-1 h1{
    color: #000;
    padding-bottom: 5%;
    margin-top: 2%;
}

.Emcontainer-1 label{
    margin-left:20% ;
    font-size: 25px;
}

.Emcontainer-1 input{
    width:300px;
    height:35px;
    margin-bottom: 4%;
    margin-left:20% ;
    font-size: 15px;
    margin-top: 1%;
}



h1:hover{
    color:tomato;
    transition: 0.5s;
    cursor: pointer;

}